[Desktop Entry]
Name=BKUP
Comment=BKUP software
GenericName=BKUP (Sauvegardez vos donnée sous Linux)
Exec=gnome-terminal -- bash -c "~/bkup/bkup.sh ; exec bash"
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=text/plain;
Icon=/home/david/.icon.png
Icon=/home/david/.icon.png
Icon=/home/david/.icon.png
Icon=/home/david/.icon.png
